In [13]:
import requests
from bs4 import BeautifulSoup as bs
import time
import os
import pandas as pd
import re

custom_header = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36",
    "referer": "https://pann.ante.com/"
}
url = "https://finance.naver.com/item/sise_time.naver?code=006400&thistime=202407261800&page=1"
response = requests.get(url, headers=custom_header)
response.raise_for_status()
response.status_code

soup = bs(response.text, "html.parser")

test_list = soup.find_all("td") # 변동량
print(test_list)

[<td colspan="7" height="8"></td>, <td align="center"><span class="tah p10 gray03">15:51</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">0</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,603</span></td>, <td class="num"><span class="tah p11">1</span></td>, <td align="center"><span class="tah p10 gray03">15:49</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">0</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,602</span></td>, <td class="num"><span class="tah p11">10</span></td>, <td align="center"><span class="tah p10 gray03">15:48</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">0</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,592</span></td>, <td class="num"><span class="tah p11">2</span></td>, <td align="center"><span class="tah p10 gray03">15:44</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">0</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,590</span></td>, <td class="num"><span class="tah p11">3</span></td>, <td align="center"><span class="tah p10 gray03">15:42</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">0</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,587</span></td>, <td class="num"><span class="tah p11">1</span></td>, <td colspan="7" height="8"></td>, <td bgcolor="#e1e1e1" colspan="7" height="1"></td>, <td colspan="7" height="8"></td>, <td align="center"><span class="tah p10 gray03">15:40</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">0</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,586</span></td>, <td class="num"><span class="tah p11">193</span></td>, <td align="center"><span class="tah p10 gray03">15:30</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				4,500
				</span>
</td>, <td class="num"><span class="tah p11">339,500</span></td>, <td class="num"><span class="tah p11">339,000</span></td>, <td class="num"><span class="tah p11">177,393</span></td>, <td class="num"><span class="tah p11">16,336</span></td>, <td align="center"><span class="tah p10 gray03">15:19</span></td>, <td class="num"><span class="tah p11">340,500</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				3,000
				</span>
</td>, <td class="num"><span class="tah p11">340,500</span></td>, <td class="num"><span class="tah p11">340,000</span></td>, <td class="num"><span class="tah p11">161,057</span></td>, <td class="num"><span class="tah p11">1,392</span></td>, <td align="center"><span class="tah p10 gray03">15:18</span></td>, <td class="num"><span class="tah p11">340,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				3,500
				</span>
</td>, <td class="num"><span class="tah p11">340,500</span></td>, <td class="num"><span class="tah p11">340,000</span></td>, <td class="num"><span class="tah p11">159,665</span></td>, <td class="num"><span class="tah p11">697</span></td>, <td align="center"><span class="tah p10 gray03">15:17</span></td>, <td class="num"><span class="tah p11">340,500</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				3,000
				</span>
</td>, <td class="num"><span class="tah p11">340,500</span></td>, <td class="num"><span class="tah p11">340,000</span></td>, <td class="num"><span class="tah p11">158,968</span></td>, <td class="num"><span class="tah p11">1,639</span></td>, <td colspan="7" height="8"></td>, <td class="on">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=1">1</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=2">2</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=3">3</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=4">4</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=5">5</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=6">6</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=7">7</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=8">8</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=9">9</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=10">10</a>
</td>, <td class="pgR">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>, <td class="pgRR">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=39">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>]

In [11]:
lst = []
for i in range(74):
    lst.append(test_list[i].text)

print(lst)

['', '09:06', '343,500', '\n보합0\n', '344,500', '344,000', '18,508', '3,587', '09:05', '343,500', '\n보합0\n', '344,000', '343,500', '14,921', '808', '09:04', '342,500', '\n하락\n\t\t\t\t1,000\n\t\t\t\t\n', '343,000', '342,500', '14,113', '839', '09:03', '341,500', '\n하락\n\t\t\t\t2,000\n\t\t\t\t\n', '342,000', '341,500', '13,274', '4,730', '09:02', '343,000', '\n하락\n\t\t\t\t500\n\t\t\t\t\n', '343,000', '342,000', '8,544', '2,537', '', '', '', '09:01', '343,000', '\n하락\n\t\t\t\t500\n\t\t\t\t\n', '343,000', '342,500', '6,007', '2,092', '09:00', '342,000', '\n하락\n\t\t\t\t1,500\n\t\t\t\t\n', '342,000', '341,500', '3,915', '3,915', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0']

In [9]:
print(test_list[3].text)

보합0

In [12]:
re.findall(r'\d?,?\d+?', test_list[3].text)[0]

'0'

In [25]:
find_page = soup.findAll("a") # 마지막 페이지 찾기
href = []
for link in find_page:
    href = link.attrs['href']
print(href)
href[-2:]

/item/sise_time.naver?code=006400&thistime=202407261800&page=39

'39'

In [29]:
test = pd.read_csv("./csvsource/test/test10.csv")
test.columns = ["a","b","c","d","e","f","g"]
columns = ["1","2","3","4","5","6","7"]
test.columns = columns
test

         1        2          3        4        5        6      7
0    15:51  339,000  ['4,500']        0  339,000  177,603      1
1    15:49  339,000  ['4,500']        0  339,000  177,602     10
2    15:48  339,000  ['4,500']        0  339,000  177,592      2
3    15:44  339,000  ['4,500']        0  339,000  177,590      3
4    15:42  339,000  ['4,500']        0  339,000  177,587      1
..     ...      ...        ...      ...      ...      ...    ...
495  09:01  343,000    ['500']  343,000  342,500    6,007  2,092
496  09:00  342,000  ['1,500']  342,000  341,500    3,915  3,915
497                         []
498                         []
499                         []

[500 rows x 7 columns]

In [32]:
th_list = soup.find_all("th")
column = []
for i in range(len(th_list)):
    column.append(th_list[i].text)
column

['체결시각', '체결가', '전일비', '매도', '매수', '거래량', '변동량']