In [2]:
import requests
from bs4 import BeautifulSoup as bs
import time
import os
import pandas as pd
import re

In [3]:
custom_header = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36",
    "referer": "https://pann.ante.com/"
}
url = "https://finance.naver.com/item/sise_time.naver?code=006400&thistime=202407261800&page=50"
response = requests.get(url, headers=custom_header)
response.raise_for_status()
response.status_code

200

In [4]:
response.text

'<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버페이 증권</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/finance_header.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">시간별</span>시세</strong></h4>\t\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>체결시각</th>\n\t\t\t\t<th>체결가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>매도</th>\n\t\t\t\t<th>매수</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t<th>변동량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:06</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">343,500</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">344,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">344,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">18,508</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">3,587</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:05</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">343,500</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">344,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">343,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">14,921</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">808</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:04</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">342,500</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">343,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">342,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">14,113</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">839</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:03</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">341,500</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">\n\t\t\t\t2,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">342,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">341,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">13,274</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">4,730</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:02</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">343,000</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">343,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">342,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">8,544</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">2,537</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\n\t\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:01</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">343,000</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">343,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">342,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">6,007</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">2,092</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">09:00</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">342,000</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">\n\t\t\t\t1,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">342,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">341,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">3,915</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">3,915</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\n\t\t\n\t\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t<td class="num">&nbsp;</td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\n\t\n\t\n\t\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t<td class="pgLL">\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=1"  >\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7" height="5" alt="">맨앞\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgL">\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=21"  >\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarL.gif" width="3" height="5" alt="">이전\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=31"  >31</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=32"  >32</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=33"  >33</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=34"  >34</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=35"  >35</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=36"  >36</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=37"  >37</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=38"  >38</a>\n\t\t\t\t</td>\n<td class="on">\n\t\t\t\t<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=39"  >39</a>\n\t\t\t\t</td>\n\n                \n                \n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/js/jindo.min.ns.1.5.3.euckr.js"></script>\n<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/js/lcslog.js"></script>\n<script type="text/javascript">\n    ;(function(){\n        var eventType = "onpageshow" in window ? "pageshow" : "load";\n        jindo.$Fn(function(){\n            lcs_do();\n        }).attach(window, eventType);\n    })();\n</script>\n\n</body>\n'

In [5]:
soup = bs(response.text, "html.parser")
soup

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버페이 증권</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/finance_header.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">시간별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>체결시각</th>
<th>체결가</th>
<th>전일비</th>
<th>매도</th>
<th>매수</th>
<th>거래량</th>
<th>변동량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:06</span></td>
<td class="num"><span class="tah p11">343,500</span></td>
<td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">344,500</span></td>
<td class="num"><span class="tah p11">344,000</span></td>
<td class="num"><span class="tah p11">18,508</span></td>
<td class="num"><span class="tah p11">3,587</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:05</span></td>
<td class="num"><span class="tah p11">343,500</span></td>
<td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">344,000</span></td>
<td class="num"><span class="tah p11">343,500</span></td>
<td class="num"><span class="tah p11">14,921</span></td>
<td class="num"><span class="tah p11">808</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:04</span></td>
<td class="num"><span class="tah p11">342,500</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">343,000</span></td>
<td class="num"><span class="tah p11">342,500</span></td>
<td class="num"><span class="tah p11">14,113</span></td>
<td class="num"><span class="tah p11">839</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:03</span></td>
<td class="num"><span class="tah p11">341,500</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				2,000
				</span>
</td>
<td class="num"><span class="tah p11">342,000</span></td>
<td class="num"><span class="tah p11">341,500</span></td>
<td class="num"><span class="tah p11">13,274</span></td>
<td class="num"><span class="tah p11">4,730</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:02</span></td>
<td class="num"><span class="tah p11">343,000</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">343,000</span></td>
<td class="num"><span class="tah p11">342,000</span></td>
<td class="num"><span class="tah p11">8,544</span></td>
<td class="num"><span class="tah p11">2,537</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:01</span></td>
<td class="num"><span class="tah p11">343,000</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">343,000</span></td>
<td class="num"><span class="tah p11">342,500</span></td>
<td class="num"><span class="tah p11">6,007</span></td>
<td class="num"><span class="tah p11">2,092</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">09:00</span></td>
<td class="num"><span class="tah p11">342,000</span></td>
<td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				1,500
				</span>
</td>
<td class="num"><span class="tah p11">342,000</span></td>
<td class="num"><span class="tah p11">341,500</span></td>
<td class="num"><span class="tah p11">3,915</span></td>
<td class="num"><span class="tah p11">3,915</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
<td class="num"> </td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="pgLL">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=1">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
				</a>
</td>
<td class="pgL">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=21">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarL.gif" width="3"/>이전
				</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=31">31</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=32">32</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=33">33</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=34">34</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=35">35</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=36">36</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=37">37</a>
</td>
<td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=38">38</a>
</td>
<td class="on">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=39">39</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20240725112316/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
    ;(function(){
        var eventType = "onpageshow" in window ? "pageshow" : "load";
        jindo.$Fn(function(){
            lcs_do();
        }).attach(window, eventType);
    })();
</script>
</body>
</html>

In [46]:
th_list = soup.find_all("th")
print(len(th_list))

7

In [47]:
th_list[0].get_text()

'체결시각'

In [48]:
lst = []
for i in range(7):
    lst.append(th_list[i].get_text())
lst

['체결시각', '체결가', '전일비', '매도', '매수', '거래량', '변동량']

In [49]:
span_list = soup.find_all("span", class_="tah p10 gray03") # 채결 시각
print(len(span_list))

10

In [50]:
lst = []
for i in range(10):
    lst.append(span_list[i].get_text())
lst

['15:51',
 '15:49',
 '15:48',
 '15:44',
 '15:42',
 '15:40',
 '15:30',
 '15:19',
 '15:18',
 '15:17']

In [51]:
span1_list = soup.find_all("span", class_="tah p11") # 채결가
print(len(span1_list))

lst = []
for i in range(10):
    lst.append(span1_list[5*i].get_text())
lst

50

['339,000',
 '339,000',
 '339,000',
 '339,000',
 '339,000',
 '339,000',
 '339,000',
 '340,500',
 '340,000',
 '340,500']

In [57]:
span2_list = soup.find_all("span", class_="tah p11 nv01") # 전일비
print(len(span2_list))

lst = []
for i in range(10):
    
    lst.append(re.findall(r'\d?,?\d+', span2_list[i].get_text())[0])
lst

10

['4,500',
 '4,500',
 '4,500',
 '4,500',
 '4,500',
 '4,500',
 '4,500',
 '3,000',
 '3,500',
 '3,000']

In [59]:
span3_list = soup.find_all("span", class_="tah p11") # 매도
print(len(span3_list))

lst = []
for i in range(10):
    
    lst.append(span3_list[5*i+1].get_text())
lst

50

['0', '0', '0', '0', '0', '0', '339,500', '340,500', '340,500', '340,500']

In [60]:
span4_list = soup.find_all("span", class_="tah p11") # 매수
print(len(span4_list))

lst = []
for i in range(10):
    
    lst.append(span4_list[5*i+2].get_text())
lst

50

['339,000',
 '339,000',
 '339,000',
 '339,000',
 '339,000',
 '339,000',
 '339,000',
 '340,000',
 '340,000',
 '340,000']

In [61]:
span5_list = soup.find_all("span", class_="tah p11") # 거래량
print(len(span5_list))

lst = []
for i in range(10):
    
    lst.append(span5_list[5*i+3].get_text())
lst

50

['177,603',
 '177,602',
 '177,592',
 '177,590',
 '177,587',
 '177,586',
 '177,393',
 '161,057',
 '159,665',
 '158,968']

In [62]:
span6_list = soup.find_all("span", class_="tah p11") # 변동량
print(len(span6_list))

lst = []
for i in range(10):
    
    lst.append(span6_list[5*i+4].get_text())
lst

50

['1', '10', '2', '3', '1', '193', '16,336', '1,392', '697', '1,639']

In [68]:
for j in range (5):
    for i in range(5):
        try:
            p = i / j
            print(i, j)
        except:
            break
            break

0 1
1 1
2 1
3 1
4 1
0 2
1 2
2 2
3 2
4 2
0 3
1 3
2 3
3 3
4 3
0 4
1 4
2 4
3 4
4 4

In [69]:
lst = [[1,2,3,4,5],[1,2,3,4,5,4,3,3],[2,3,4,3]]
len(lst)

3

In [74]:
cnt = 0

def test(cnt):
    for j in range(5):
        if cnt == 1:
            return
        try:
            for i in range(3,-1,-1):
                print(i)
                print(j/i)
        except:
            cnt = 1
            break
test(cnt)
print(cnt)

3
0.0
2
0.0
1
0.0
0
0

In [75]:
test01 = "sadf0asdf"


re.findall(r'\d?,?\d+', test01)[0]

'0'

In [6]:
test_list = soup.find_all("td") # 변동량
print(test_list)

[<td colspan="7" height="8"></td>, <td align="center"><span class="tah p10 gray03">09:06</span></td>, <td class="num"><span class="tah p11">343,500</span></td>, <td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>, <td class="num"><span class="tah p11">344,500</span></td>, <td class="num"><span class="tah p11">344,000</span></td>, <td class="num"><span class="tah p11">18,508</span></td>, <td class="num"><span class="tah p11">3,587</span></td>, <td align="center"><span class="tah p10 gray03">09:05</span></td>, <td class="num"><span class="tah p11">343,500</span></td>, <td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>, <td class="num"><span class="tah p11">344,000</span></td>, <td class="num"><span class="tah p11">343,500</span></td>, <td class="num"><span class="tah p11">14,921</span></td>, <td class="num"><span class="tah p11">808</span></td>, <td align="center"><span class="tah p10 gray03">09:04</span></td>, <td class="num"><span class="tah p11">342,500</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				1,000
				</span>
</td>, <td class="num"><span class="tah p11">343,000</span></td>, <td class="num"><span class="tah p11">342,500</span></td>, <td class="num"><span class="tah p11">14,113</span></td>, <td class="num"><span class="tah p11">839</span></td>, <td align="center"><span class="tah p10 gray03">09:03</span></td>, <td class="num"><span class="tah p11">341,500</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				2,000
				</span>
</td>, <td class="num"><span class="tah p11">342,000</span></td>, <td class="num"><span class="tah p11">341,500</span></td>, <td class="num"><span class="tah p11">13,274</span></td>, <td class="num"><span class="tah p11">4,730</span></td>, <td align="center"><span class="tah p10 gray03">09:02</span></td>, <td class="num"><span class="tah p11">343,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				500
				</span>
</td>, <td class="num"><span class="tah p11">343,000</span></td>, <td class="num"><span class="tah p11">342,000</span></td>, <td class="num"><span class="tah p11">8,544</span></td>, <td class="num"><span class="tah p11">2,537</span></td>, <td colspan="7" height="8"></td>, <td bgcolor="#e1e1e1" colspan="7" height="1"></td>, <td colspan="7" height="8"></td>, <td align="center"><span class="tah p10 gray03">09:01</span></td>, <td class="num"><span class="tah p11">343,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				500
				</span>
</td>, <td class="num"><span class="tah p11">343,000</span></td>, <td class="num"><span class="tah p11">342,500</span></td>, <td class="num"><span class="tah p11">6,007</span></td>, <td class="num"><span class="tah p11">2,092</span></td>, <td align="center"><span class="tah p10 gray03">09:00</span></td>, <td class="num"><span class="tah p11">342,000</span></td>, <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				1,500
				</span>
</td>, <td class="num"><span class="tah p11">342,000</span></td>, <td class="num"><span class="tah p11">341,500</span></td>, <td class="num"><span class="tah p11">3,915</span></td>, <td class="num"><span class="tah p11">3,915</span></td>, <td align="center"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td align="center"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td align="center"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td class="num"> </td>, <td colspan="7" height="8"></td>, <td class="pgLL">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=1">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
				</a>
</td>, <td class="pgL">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=21">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarL.gif" width="3"/>이전
				</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=31">31</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=32">32</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=33">33</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=34">34</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=35">35</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=36">36</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=37">37</a>
</td>, <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=38">38</a>
</td>, <td class="on">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=39">39</a>
</td>]

In [82]:
test2_list = re.findall(r'\d?,?\d+?', test_list[0])
print(test2_list)

TypeError: expected string or bytes-like object, got 'Tag'

In [7]:
for i in range(len(test_list)):
    print(i, test_list[i])

0 <td colspan="7" height="8"></td>
1 <td align="center"><span class="tah p10 gray03">09:06</span></td>
2 <td class="num"><span class="tah p11">343,500</span></td>
3 <td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>
4 <td class="num"><span class="tah p11">344,500</span></td>
5 <td class="num"><span class="tah p11">344,000</span></td>
6 <td class="num"><span class="tah p11">18,508</span></td>
7 <td class="num"><span class="tah p11">3,587</span></td>
8 <td align="center"><span class="tah p10 gray03">09:05</span></td>
9 <td class="num"><span class="tah p11">343,500</span></td>
10 <td class="num">
<em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
</td>
11 <td class="num"><span class="tah p11">344,000</span></td>
12 <td class="num"><span class="tah p11">343,500</span></td>
13 <td class="num"><span class="tah p11">14,921</span></td>
14 <td class="num"><span class="tah p11">808</span></td>
15 <td align="center"><span class="tah p10 gray03">09:04</span></td>
16 <td class="num"><span class="tah p11">342,500</span></td>
17 <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				1,000
				</span>
</td>
18 <td class="num"><span class="tah p11">343,000</span></td>
19 <td class="num"><span class="tah p11">342,500</span></td>
20 <td class="num"><span class="tah p11">14,113</span></td>
21 <td class="num"><span class="tah p11">839</span></td>
22 <td align="center"><span class="tah p10 gray03">09:03</span></td>
23 <td class="num"><span class="tah p11">341,500</span></td>
24 <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				2,000
				</span>
</td>
25 <td class="num"><span class="tah p11">342,000</span></td>
26 <td class="num"><span class="tah p11">341,500</span></td>
27 <td class="num"><span class="tah p11">13,274</span></td>
28 <td class="num"><span class="tah p11">4,730</span></td>
29 <td align="center"><span class="tah p10 gray03">09:02</span></td>
30 <td class="num"><span class="tah p11">343,000</span></td>
31 <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				500
				</span>
</td>
32 <td class="num"><span class="tah p11">343,000</span></td>
33 <td class="num"><span class="tah p11">342,000</span></td>
34 <td class="num"><span class="tah p11">8,544</span></td>
35 <td class="num"><span class="tah p11">2,537</span></td>
36 <td colspan="7" height="8"></td>
37 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
38 <td colspan="7" height="8"></td>
39 <td align="center"><span class="tah p10 gray03">09:01</span></td>
40 <td class="num"><span class="tah p11">343,000</span></td>
41 <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				500
				</span>
</td>
42 <td class="num"><span class="tah p11">343,000</span></td>
43 <td class="num"><span class="tah p11">342,500</span></td>
44 <td class="num"><span class="tah p11">6,007</span></td>
45 <td class="num"><span class="tah p11">2,092</span></td>
46 <td align="center"><span class="tah p10 gray03">09:00</span></td>
47 <td class="num"><span class="tah p11">342,000</span></td>
48 <td class="num">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				1,500
				</span>
</td>
49 <td class="num"><span class="tah p11">342,000</span></td>
50 <td class="num"><span class="tah p11">341,500</span></td>
51 <td class="num"><span class="tah p11">3,915</span></td>
52 <td class="num"><span class="tah p11">3,915</span></td>
53 <td align="center"> </td>
54 <td class="num"> </td>
55 <td class="num"> </td>
56 <td class="num"> </td>
57 <td class="num"> </td>
58 <td class="num"> </td>
59 <td class="num"> </td>
60 <td align="center"> </td>
61 <td class="num"> </td>
62 <td class="num"> </td>
63 <td class="num"> </td>
64 <td class="num"> </td>
65 <td class="num"> </td>
66 <td class="num"> </td>
67 <td align="center"> </td>
68 <td class="num"> </td>
69 <td class="num"> </td>
70 <td class="num"> </td>
71 <td class="num"> </td>
72 <td class="num"> </td>
73 <td class="num"> </td>
74 <td colspan="7" height="8"></td>
75 <td class="pgLL">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=1">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
				</a>
</td>
76 <td class="pgL">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=21">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarL.gif" width="3"/>이전
				</a>
</td>
77 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=31">31</a>
</td>
78 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=32">32</a>
</td>
79 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=33">33</a>
</td>
80 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=34">34</a>
</td>
81 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=35">35</a>
</td>
82 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=36">36</a>
</td>
83 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=37">37</a>
</td>
84 <td>
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=38">38</a>
</td>
85 <td class="on">
<a href="/item/sise_time.naver?code=006400&amp;thistime=202407261800&amp;page=39">39</a>
</td>

In [10]:
for i in range(74):
    print(i, test_list[i].text)

0
1 09:06
2 343,500
3
보합0

4 344,500
5 344,000
6 18,508
7 3,587
8 09:05
9 343,500
10
보합0

11 344,000
12 343,500
13 14,921
14 808
15 09:04
16 342,500
17
하락
				1,000


18 343,000
19 342,500
20 14,113
21 839
22 09:03
23 341,500
24
하락
				2,000


25 342,000
26 341,500
27 13,274
28 4,730
29 09:02
30 343,000
31
하락
				500


32 343,000
33 342,000
34 8,544
35 2,537
36
37
38
39 09:01
40 343,000
41
하락
				500


42 343,000
43 342,500
44 6,007
45 2,092
46 09:00
47 342,000
48
하락
				1,500


49 342,000
50 341,500
51 3,915
52 3,915
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73

In [8]:
import re

test2_list = re.findall(r'\d?,?\d+', test_list.text)
print(test2_list)

AttributeError: 'list' object has no attribute 'text'

In [5]:
import pandas as pd

test_list = []

for i in range(10):
    test_list.append({"index":i, "result":2*i})

df = pd.DataFrame(test_list)

print(df)


df.to_csv('./test.csv', index=False, encoding='utf-8-sig')

   index  result
0      0       0
1      1       2
2      2       4
3      3       6
4      4       8
5      5      10
6      6      12
7      7      14
8      8      16
9      9      18

In [6]:
a = test_list[3].text
b = test_list[3].get_text()

print(a)
print(b)

AttributeError: 'dict' object has no attribute 'text'